/* Sticky Footer */

html, body {
  height: 100%;
}

body {
  display: flex;
  /* flex-direction: column; */
}

.page-wrapper {
  flex: 1 0 auto;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  background-color: #7d93b2;
  color: #fff;
}

/* Defaults */

a, .link {
  cursor: pointer;
}

a:hover , .link:hover {
  text-decoration: none !important;
}

.page-content-wrapper {
  margin: 20px;
}

/* Typography */

p, div {
  font-size: 16px;
  color: #627a9c;
  font-family: Nunito, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #4c6280;
  /* color: #234c87; */
  font-family: Nunito, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

.button-general {
  text-decoration: none !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  display: inline-flex !important;
  color: #fff !important;
  text-transform: capitalize !important;
  border-radius: 8px !important;
  box-shadow: 0 10px 15px rgba(125,147,178,.3) !important;
  padding: 8px 40px !important;
  background-color: #ff5c72 !important;
}

.word-highlight {
  color: #ff5c72;
}

.center-align {
  text-align: center;
}

.body-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Test Page Styles */

.test-header {

}

.test-category-paper {
  text-transform: uppercase;
  padding: 40px 20px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.test-sub-heading {
  margin: 40px 0 15px 0;
}

.test-card-column {
  max-width: 500px;
}

/* .test-question {
  background: #fff;
  margin-top: 15px;
  white-space: pre-line;
}

.test-answer {
  background: #f6f8ff;
} */

.test-card-actions {
  color: grey;
}

.test-change-categories-button {
  border: 1px solid #ceddf2;
  background-color: #EFF6FF;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  color: #7d93b2;
  border-radius: 8px;
  box-shadow: none;
  display: table;
  margin: auto;
  padding: 6px 10px;
}

.test-change-categories-button:hover {
  background-color: #9eb4d2 !important;
  border-color: #9eb4d2 ;
  color: #fff;
}

.test-in-progress-text-container {
  padding-top: 0 !important;
}

.flip-container {
  margin: 30px 0;
}

.flip-container, .front, .back {
	width: 600px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2), 0px 13px 19px 2px rgba(0,0,0,0.14), 0px 5px 24px 4px rgba(0,0,0,0.12);
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  /* background: linear-gradient(90deg,#ff5c72,#a485f2); */
  /* background-color: #ff5c72; */
  background-color: #7d93b2;
  color: #fff;
  height: 500px;
  opacity: 0.9;
}

.front h1 {
  font-size: 70px;
  text-align: center;
  color: #fff;
  margin: 90px 0 0 0;
  font-weight: 800;
}

.front-question-mark {
  font-size: 150px !important;
  margin: 0 !important;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  min-height: 500px;
  margin-bottom: 50px;
  border-top: 5px solid #7d93b2;
  padding: 20px;
}

.card-border-top {
  min-height: 5px;
  background: linear-gradient(90deg,#ff5c72,#a485f2);
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.sub-question-being-asked-container {
  padding: 10px;
}

.back-card-answer {
  font-weight: 800;
  padding-top: 10px;
}

.test-question-numbering {
  float: right;
  margin-bottom: 10px;
  font-size: 14px;
}

.test-question-paragraph {
  clear: both;
  white-space: pre-wrap;
}

.test-show-answer-button {
  margin-top: 14px !important;
}

.test-new-question-button {
  margin-top: 23px !important;
}

.sub-questions-asked-container {
  background-color: #E5F0FF;
  opacity: 0.7;
  padding: 20px 20px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sub-questions-asked-container.closed {
	max-height: 0;
}

.sub-question-asked-answer-wrapper {
  /* padding: 20px 30px; */
}

/* .sub-question-asked {
  background-color: #E5F0FF;
  padding: 10px;
} */

.sub-question-asked-answer {
  /* font-weight: 800; */
  /* padding: 0 10px; */
  /* border-left: 2px solid; */
}

.test-line-separator {
  min-height: 3px;
  background-color: #ff5c72;
  max-width: 50px;
}

/* Answer on back of card */
.answer-slider {
  overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height: 0;
}

/* Parent Question Transition Group */

.flip-container-appear {
  opacity: 0;
}
.flip-container-appear.flip-container-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}
.flip-container-appear-done: {

}
.flip-container-enter {
  opacity: 0;
}
.flip-container-enter.flip-container-enter-active {
  opacity: 1;
  transition: opacity 900ms linear
}
.flip-container-enter-done {

}
.flip-container-exit {
  opacity: 0;
}
.flip-container-exit.flip-container-exit-active {
  opacity: 0;
  transition: opacity 200ms linear
}
.flip-container-exit-done {
  opacity: 0;
}


/* entire container, keeps perspective */
/* .flip-container {
	perspective: 1000px;
} */

	/* flip the pane when hovered */
	/* .flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	} */

/* Sub Question Displayed Transition Group */

.sub-question-displayed-appear {
  opacity: 0;
}
.sub-question-displayed-appear.sub-question-displayed-appear-active {
  opacity: 1;
  transition: opacity 1200ms linear;
}
.sub-question-displayed-appear-done: {

}
.sub-question-displayed-enter {
  opacity: 0;
}
.sub-question-displayed-enter.sub-question-displayed-enter-active {
  opacity: 1;
  transition: opacity 1200ms linear
}
.sub-question-displayed-enter-done {

}
.sub-question-displayed-exit {
  opacity: 1;
}
.sub-question-displayed-exit.sub-question-displayed-exit-active {
  opacity: 0;
  transition: opacity 940ms linear
}
.sub-question-displayed-exit-done {
  opacity: 0;
}

/* Sub Questions Asked Transition Group */

.sub-questions-appear {
  opacity: 0;
}
.sub-questions-appear.sub-questions-appear-active {
  opacity: 1;
  transition: opacity 1200ms linear;
}

.sub-questions-enter {
  opacity: 0;
}
.sub-questions-enter.sub-questions-enter-active {
  opacity: 1;
  transition: opacity 1200ms linear
}

/* .sub-questions-exit {
  opacity: 1;
}
.sub-questions-exit.sub-questions-exit-active {
  opacity: 0;
  transition: opacity 300ms linear
}
.sub-questions-exit-done {
  opacity: 0;
} */

/* Media Queries */

@media only screen and (max-width: 760px) {
  .flip-container, .front, .back {
  	width: 500px;
  }
}

@media only screen and (max-width: 599px) {
  .test-sub-heading {
    margin-top: 0;
  }

  .flip-container, .front, .back {
  	width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .flip-container, .front, .back {
  	width: 350px;
  }
}
